.App {
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

img {
  height: 40vh;
}

h1 {
  user-select: none;
}
